<div class="sidebar-right">
  <div class="radius_border">
    <div class="content">
	   <div class="label-box">
       <div class="contain-box">
	       <p><strong>ABOUT THE AUTHOR</strong></p>
       </div>	 
	 </div>
	  <div class="contain-box">
	  <div class="profile-box">
        <a href="{{ BASE_PATH }}/BIO.html"><img src="{{ BASE_PATH }}/images/avatar.jpg"></a>
	  </div>
	    <h6>Hi everyone,</h6>
		<h6>This is <a href="{{ BASE_PATH }}/BIO.html">Qiao Gao</a>. Currently I am a graduate student in Illinois Institute of Technology with major on electrical engineering and studies focused on microelectronics domain...<a href="{{ BASE_PATH }}/BIO.html">(more)</a></h6>
        <hr>
		<h6>Contact:</h6>
		<h6>Phone: (＋86)13949020750</h6>
		<h6>Email: <a href="mailto:gqplus2@hotmail.com">gqplus2@hotmail.com</a></h6>
	 </div>
    </div>
   </div>
   <div class="radius_border">
    <div class="content">
	   <div class="label-box">
        <div class="contain-box">
	       <p><strong>LATEST WORK</strong></p>
        </div>	 
	   </div>
	   <div class="contain-box">
{% for post in site.posts %}
	{% if post.group == 'works' %}
        <div class="work-nav">
		    <a href="{{ BASE_PATH }}{{ post.url }}">
			    <div class="work-imgbox">
				    <div class="content">
                    <h6>{{post.category}}</h6>
					</div>
		        </div>
			</a>
			<div class="work-titletag">
			    <h6><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h6>
			</div>
		</div>
    {% endif %}
{% endfor %}
        </div>
    </div>
   </div>
 </div>