<div class="sidebar-left">
 <div class="radius_border">
   <div class="content">
     <div class="label-box">
       <div class="content-box">
	       <p><strong>WELCOME</strong></p>
       </div>	 
	 </div>
	 <div class="content-box">
        <p>Greeting and welcome to my blog!</p>
		<p></p>
		<p>In this website you will see: some of my recent works, tutorials of some tricky missions, reviews of some electrical products I own, comments about latest trend of technology and feelings about music, game or any other stuff that interests me. I will share my ideas without any hesitation and hope they could be helpful for you. So do not be hesitate to leave a comment under any post if it do make sense. Your small "Thank you" is a great support for me!</p>
        <p></p>
		<p>Please make yourself at home, enjoy yourself and have fun!</p>
		<p></p>
		<p>See you soon.</p>
	 </div>  
   </div>
  </div>
  <div class="radius_border">
    <div class="content">
	   <div class="label-box">
       <div class="content-box">
	       <p><strong>LATEST POSTS</strong></p>
       </div>	 
	 </div>
	 <div class="content-box">
        <ul class="posts">
         {% for post in site.posts %}
            <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
         {% endfor %}
        </ul>
	 </div>
    </div>
   </div>
 </div>
 <div class="sidebar-right">
  <div class="radius_border">
    <div class="content">
	   <div class="label-box">
       <div class="content-box">
	       <p><strong>ABOUT THE AUTHOR</strong></p>
       </div>	 
	 </div>
	 <div class="content-box">
	  <div class="profile-box">
        <img src="{{ BASE_PATH }}/images/avatar.jpg">
	  </div>
        <p>Hi everyone,</p>
		<p></p>
		<p>My name is Qiao Gao. Currently I am a graduate student in Illinois Institute of Technology. My major is electrical engineering with studies focused on microelectronics domain.</p>
        <p><a href="">Learn more about me...</a></p>
	 </div>
    </div>
   </div>
   <div class="radius_border">
    <div class="content">
	   <div class="label-box">
       <div class="content-box">
	       <p><strong>LATEST WORK</strong></p>
       </div>	 
	 </div>
	 <div class="content-box">
	       <p>Right now nothing is here!</p>
	 </div>
    </div>
   </div>
 </div>
</div>
