<div class="sidebar-right">
  <div class="radius_border">
    <div class="content">
	   <div class="label-box">
       <div class="contain-box">
	       <p><strong>ABOUT THE AUTHOR</strong></p>
       </div>	 
	 </div>
	 <div class="contain-box">
	  <div class="profile-box">
        <a href="{{ BASE_PATH }}/BIO.html"><img src="{{ BASE_PATH }}/images/avatar.jpg"></a>
	  </div>
        <p>Hi everyone,</p>
		<p></p>
		<p>My name is Qiao Gao. Currently I am a graduate student in Illinois Institute of Technology. My major is electrical engineering with studies focused on microelectronics domain.</p>
        <p><a href="{{ BASE_PATH }}/BIO.html">Learn more about me...</a></p>
		<p>Or contact me via:</p>
		<div class="iconbox">
		  <a href="mailto:gqplus2@gmail.com" title="Email"><img src="{{ BASE_PATH }}/images/Bookmark Icons Gmail.png"></a>
		</div>
		<div class="iconbox">
		  <a href="https://www.facebook.com/joe.gao.754" target="_blank" title="Facebook"><img src="{{ BASE_PATH }}/images/Bookmark Icons Facebook.png"></a>
		</div>
		<div class="iconbox">
		  <a href="http://www.renren.com/250542730/profile" target="_blank" title="Renren"><img src="{{ BASE_PATH }}/images/icon-renren.png"></a>
		</div>
	 </div>
    </div>
   </div>
   <div class="radius_border">
    <div class="content">
	   <div class="label-box">
        <div class="contain-box">
	       <p><strong>LATEST WORK</strong></p>
        </div>	 
	   </div>
	   <div class="contain-box">
	     <ul class="posts">
		   {% for post in site.posts %}
		    {% if post.group == 'tests' %}
               <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
		  {% endfor %}
         </ul>
        </div>
    </div>
   </div>
 </div>