/* Custom container */
.container-narrow {
  margin: 0 auto;
  width: 1020px; 
}

.imgbox > .container-narrow {
  margin: 0 0;
}

.sidebar-left{
  margin: 0 10px 0 0;
  width: 730px;
  float: left;  
}

.headbar-inner{min-height:80px;padding-left:20px;padding-right:20px;background-color:#1F2126;}.navbar-inner:before,.navbar-inner:after{display:table;content:"";line-height:0;}

.sidebar-right{
  margin: 0 0 0 10px;
  width: 270px;
  float: right;  
}

p.brand{
  font-size:20px;
  font-weight:200;
}

footer{
  background-color: #4B525F;
  text-align:center;
  float:right;
  width: 100%;
}

footer > h6{
  color: #ffffff;
  text-align:center;
}

.label-box{
  height:36px;
  background-color:#4B525F;
}

.label-box p{
  color: #FFFFFF;
}

.container-narrow > hr {
  margin: 30px 0; }

.imgbox{
  position: relative;
  margin: 20px 0 0 0;
  overflow: hidden;
  width: 100%;
  max-height:170px;
}

p,h6{
text-align:justify;
}

iconbox{
  background-color: #4B525F;
  overflow: hidden;
  float:left;
  margin: 0 0 20px 5px;
  min-height: 40px;
  width: 40px;
}

.navbar-inner iconbox{
  float:right;
  margin: 0 0 0 5px;
}

header-icon{
  margin-top:25px;
  margin-right:20px;
  float:right;
}

iconbox > img{
  height: 100%
}

iconbox.rss:hover{
 background-color: #ff7600;
}

iconbox.email:hover{
 background-color: #ff2f34;
}

iconbox.facebook:hover{
 background-color: #265999;
}

iconbox.renren:hover{
 background-color: #34679e;
}

iconbox.twitter:hover{
 background-color: #00b0ef;
}

iconbox.github:hover{
 background-color: #0084c5;
}

iconbox.weibo:hover{
 background-color: #ff0026;
}

.profile-box{
  margin:0 0 5px 20px;
  -webkit-border-radius:53px;
  -moz-border-radius:53px;
  border-radius:53px;
  float:right;
  border:1px solid;
  overflow: hidden;
  width:106px;
}

body{
  background-color:#EDEDED;
}

.page-container{
  margin: 20px 0 0 0; 
  width: 100%;
}

.imgbox img{
  width: 100%
}

.contain-box{
  padding:20px 20px 20px 20px;
}
.label-box > .contain-box{
  padding:10px 10px 10px 10px;
}
.radius_border{
  overflow: hidden;
  background-color: #ffffff;
  padding:0 0 0 0;
  margin:0 0 20px 0;
}

.navbar .nav {
  float: left; }

.header-title{padding:0 0;text-align:center;position:absolute;top:0;left:0;display:table;width:100%;height:170px;margin-top:0;overflow:hidden;}
.header-title .header-title-wrap{display:table-cell;margin:0 auto;text-align:center;vertical-align:middle;}
.header-title h1{font-weight:700;margin:10px 60px;font-size:48px;font-size:3rem;color:#fff;}
.header-title h1 a{color:#fff}
.header-title h2{margin:0;font-size:24px;font-size:1.5rem;text-transform:uppercase;color:#fff;}
.header-title h2 a{color:#fff}

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }
